body{
	background-color: white;
	font-family: Calibri, sans-serif;
	color: black
}

a{
	text-decoration:none;
	color:black;
	font-weight:bold;
}


#container{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#header{
	text-align:center;
	padding:5px;
	float:left;
}

#h1,h2,h4{
	margin:0;
	padding:0px;
}

#content{
	padding:0px;
	text-align:left;
	float:right;
}

#nav{
	width:650px;
	text-align:center;
	float:right;
	padding:25px;
	word-spacing: 40px;
}


#nav a:link, a:visited{
	background-color: white;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration:none;
	display: inline-block;
}

#nav a:hover, a:active{
	background-color: #157C46;
	color: white;
	border-radius: 10px;
}

#main{
	text-align:left;
	width:650px;
	float:right;
	margin-top:20px;
	margin-left:0px;
	margin-bottom:40px;
	padding:0px;
}

#main a:hover, a:active{
	color: #157C46;
	background-color: white;
	text-decoration:underline;
}


#links{
	text-align:center;
	word-spacing:30px;
	width:300px;
	float:center;
	line-height: 400%;
}

#links a:hover, a:active{
	color: #157C46;
}


#footer{
	clear:both;
	padding: 10px;
	background-color: #157C46;
	color: white;
	text-align: right;
}
