body{
	background-color:white;
	font-family: Calibri, sans-serif;
}

#main a{
	text-decoration:none;
	color:black;
	font-weight:bold;
}

#main a:hover{
	text-decoration:underline;
	font-weight: bold;
	color:#157C46;
}


#container{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#header{
	text-align:left;
	padding: 0px;
	font-family: Calibri;
}

#h1,h2{
	margin:0;
	font-family: Calibri;
}


#nav{
	width: 650px;
	text-align:center;
	float:right;
	padding:10px;
	word-spacing:40px;
}


#nav a:link, a:visited{
	background-color: white;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration:none;
	display: inline-block;
	font-weight: bold;
}

#nav a:hover, a:active{
	background-color: #157C46;
	color: white;
	border-radius: 10px;
}


#content{
	padding: 10px;
}

#main{
	text-align:left;
	padding: 10px;
	margin-bottom: 50px;
}

#footer{
	clear:both;
	padding: 10px;
	background-color: #157C46;
	color: white;
	text-align: right;
}
