body{
	background-color:#EDEBEB;
	font-family: Cambria, sans-serif;
}

a{
	text-decoration:none;
	color:black;
	font-weight:bold;
}

#main a{
	text-decoration:underline;
	color:blue;
	font-weight:none;
}

#container{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#header{
	text-align:left;
	padding: 10px;
	font-family: Calibri;
}

#h1,h2{
	margin:0;
	font-family: Calibri;
}


#nav{
	width: 600px;
	text-align:center;
	float:right;
	padding:0;
	word-spacing: 30px;
}


#nav a:link, a:visited{
	background-color: #EDEBEB;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration:none;
	display: inline-block;
}

#nav a:hover, a:active{
	background-color: #157C46;
	color: white;
}

#main a{
	font-weight:normal;
}

#content{
	padding: 10px;
}

#main{
	text-align:left;
}


#footer{
	clear:both;
	padding: 10px;
	background-color: #157C46;
	color: white;
	text-align: right;
}