body{
	background-color:white;
	color: black;
	font-family: 'Palatino Linotype', serif;
}

a{
	text-decoration:none;
	color:black;
	font-weight:bold;
}

#container{
	max-width:100%;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#nav{
	float:right;
	text-align:center;
	width:60%;
	padding:2%;
	word-spacing:400%;
}

#nav a:link, a:visited{
	background-color: white;
	color: black;
	padding: 1% 5%;
	text-align: center;
	text-decoration:none;
	display: inline-block;
}

#nav a:hover, a:active{
	background-color: #157C46;
	color: white;
	border-radius:10%;
}

#content{
	text-align:left;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2%;
	padding:2%;
}

#main{
	text-align:left;
	margin-top:1%;
	margin-left:auto;
	margin-right:auto;
}

#main a:hover, a:active{
	background-color: white;
	color: #157C46;
	text-decoration:underline;
}

#footer{
	text-align: right;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	width: 95%;
	padding: 1%;
	background-color: #157C46;
	color: white;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}